html, body{
   background-color: var(--background-color);
}

.layout-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  padding: 20px;
  box-sizing: border-box;
  background: var(--background-color);
}

.sidebar-aberta .main-content {
  margin-left: 1vw;
}

.main-content {
    display: flex;
    flex: 1;
    width: 96.96vw;
    margin-left: 1.1vw;
    height: 91vh;
    margin-top: 4vw;
    border-radius: 12px;
    overflow: hidden;
    transition: margin-left 0.45s ease, width 0.45s ease;
    color: var(--text-primary);
}

