.table-principal {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  height: 89.5vh;
}

.table-principal.com-sidebar {
  width: 54.1%;
}

.table-principal.sem-sidebar {
  width: 63.5%;
}

.table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

#title{
  color: var(--primary-color);
}

.scroll-wrapper {
  flex: 1;
  overflow: hidden;
}

.scroll-inner {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.scroll-inner table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

.scroll-inner th,
.scroll-inner td {
  min-width: 120px;
  padding: 12px 10px;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
  white-space: nowrap;
  color: var(--text-secondary);
}

.scroll-inner th {
  background: var(--primary-color);
  color: var(--text-primary-contrast);
  position: sticky;
  top: 0;
  z-index: 2;
}

.scroll-inner th:nth-child(7),
.scroll-inner td:nth-child(7) {
  min-width: 250px;
}

.scroll-inner tr:hover {
  background: var(--hover-bg);
}

.scroll-inner::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-inner::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

.scroll-inner::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 5px;
}
