@import url('../../../../../public/styles/theme.css');

.header {
  width: 100%;
  height: 60px;
  background: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--text-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
