:root {
    --primary-color: #1E90FF;
    --secondary-color: #121212;
    --text-color: #E0E0E0;
    --placeholder-color: #A0A0A0;
    --error-color: #FF5C5C;
    --button-color: #333333;
    --button-text-color: #FFFFFF;
    --button-hover-color: #555555;
    --input-background-color: #1E1E1E;
    --input-border-color: #555555;
}
